.homepage-welcome {
  @include background-size(cover);
  position: relative;
  height: rem-calc(290);
  padding: 100px 20px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../img/food-ingredients-01.jpg');
  background-repeat: no-repeat;
  background-position: center;

  .home-search {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 15px;
    background-color: rgba(37, 37, 37, 0.9);

    label { color: $color-white; }

    input { margin-top: 5px; }
  }
}

@media only screen and (max-width: 40em) {
  .homepage-welcome {
    height: 150px;
    padding: 40px 10px 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .homepage-welcome {
    height: 250px;
    padding: 80px 10px 0;
  }
}

.accordion {
  dd {
    margin-bottom: 5px !important;

    > a {
      border-bottom: 1px solid #dddddd;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.05);
      color: #8c989e;

      > i {
        padding-top: rem-calc(15);
        color: #384047;
        font-size: rem-calc(24);
      }

      > strong {
        display: block;
        color: #384047; 
      }

      &:hover {
        background-color: #f1f7fa;
      }
    }
  }

}
